# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
/static/
media/

# Virtualenv
venv/
env/
ENV/
*.env

# IDEs and editors
.idea/
.vscode/





# Local development
.local/
*.sqlite3
